    * {
        margin: 0;
        padding: 0;
        font-family: 'Chakra Petch', sans-serif;
    }
    
    header {
        height: 100%;
        width: 100%;
        background-color: #000117;
        position: relative;
        z-index: 3;
    }
    
    #cuadrado {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        /*background-image: url("blast.jpg");*/
        background-color: #cccccc;
        width: 100%;
        height: 100%;
    }
    
    #contenedor {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        background-color: rgb(14, 1, 34);
        width: 100%;
        padding: 20px;
        border-color: black;
        border: 5px;
        border-radius: 10px;
        box-sizing: border-box;
        align-content: center;
    }
    
    .casilla {
        padding: 5px;
        margin: 5px;
        width: 98%;
        background-color: #7b3cd5;
        border-color: black;
        border: 5px;
        border-radius: 2px;
        color: white;
    }
    
    #enviar {
        width: 30%;
        color: white;
    }
    /* .navegar viejo {
        display: flex;
        flex-direction: row;
        background-color: #02042e;
        color: white;
        width: 20%;
        border-color: #02042e;
        border-bottom-style: solid;
        border-bottom-width: thick;
        padding: 12px;
        margin: 0px;
        font-size: 130%;
        font-weight: bolder;
        justify-content: center;
        text-decoration: none;
    } */
    
    .navbar {
        background-color: #02042e;
        color: white;
        border-color: #02042e;
        border-bottom-style: solid;
        border-bottom-width: thick;
        margin: 0px;
        font-size: 130%;
        font-weight: bolder;
        text-decoration: none;
    }
    
    .nav-link:hover {
        border-color: #5807dc;
        border-bottom-style: solid;
        border-bottom-width: thick;
        background-color: #000117;
    }
    
    h2 {
        color: white;
        font-size: 30px;
        background-color: #02042e;
    }
    
    h3 {
        color: white;
    }
    
    .txtform {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        background-color: rgb(48, 4, 114);
        opacity: 0.98;
        width: 20%;
        min-width: 300px;
        padding: 15px;
        height: 50%;
        border: 10px;
        border-radius: 10px;
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 38%;
        right: 62%;
        bottom: 50%;
    }
    
    footer {
        display: flex;
        flex-direction: row;
        align-content: space-between;
        background-color: #000117;
        color: white;
        font-size: 25px;
    }
    /* Roster */
    
    .players-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        max-width: 75vw;
    }
    
    .player-box {
        min-width: 360px;
        width: 400px;
        height: auto;
        background-color: #000117;
        border-radius: 20px;
        overflow: hidden;
        margin: 20px 10px;
    }
    
    .player-box-img {
        width: 350px;
        height: 400px;
        overflow: hidden;
    }
    
    .player-box-text {
        color: white;
        background-color: #242A5A;
        padding: 3rem 2rem;
    }
    
    .player-box-nick {
        font-size: 2rem;
        font-weight: bold;
        font-weight: 800;
        text-align: center;
    }
    
    .player-box-info {
        margin-top: 2rem;
        text-align: center;
    }
    
    .roster-section {
        background-color: #020414;
    }
    /*/ Sponsors/*/
    
    .sponsors-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        max-width: 75vw;
        position: static;
    }
    
    .sponsor-box {
        align-content: center;
        min-width: 300px;
        width: 500px;
        height: 525px;
        background-color: #000117;
        border-radius: 20px;
        overflow: hidden;
        margin: 10px;
    }
    
    .sponsor-box-img {
        width: auto;
        height: auto;
        position: sticky;
    }
    
    #aorus-img {
        margin-bottom: 40px;
        margin-top: 60px;
        margin-left: 70px;
    }
    
    #claro-img {
        margin-bottom: 85px;
        margin-top: 60px;
        margin-left: 100px;
    }
    
    .sponsor-box-text {
        color: white;
        background-color: #242A5A;
        padding: 1rem 1rem;
        text-decoration: none;
    }
    
    .sponsor-box-link {
        font-size: 2rem;
        font-weight: bold;
        font-weight: 800;
        text-align: center;
        text-decoration: none;
    }
    
    .sponsor-section {
        background-color: #020414;
    }
    /* Home */
    
    .articulos {
        background-color: #020414;
    }
    
    .articulo {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        min-height: 70vh;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #020414;
    }
    
    .articulo-text {
        color: white;
        text-align: justify;
        margin: 10vh;
        font-size: 3vh;
    }
    
    .titulo {
        font-weight: bolder;
        font-size: 4vw;
    }
    
    #bg-color {
        background-color: #020414;
    }
    /* redes */
    
    .redes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    
    #redesttl {
        margin-top: 5vh;
        text-align: center;
    }
    
    #tiktok {
        margin-top: 12vh;
        margin-bottom: 12vh;
        margin-left: 12vh;
        margin-right: 10vh;
    }
    
    #foot {
        display: flex;
        flex-direction: row;
        align-content: space-between;
        background-color: #000117;
        color: white;
        font-size: 25px;
        justify-content: right;
    }
    
    #dev {
        opacity: 0.3;
    }